body {
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 200%;
}

.timer {
  display: block;
  margin-right: 10px;
}

.timer-flex {
  display: flex;
  flex-direction: row;
}
